<div class="col-md-4">
    <div class="card">
        <h5 class="card-header">Sales</h5>
        <div class="card-body p-10">
            <h5 class="card-title secondary-type m-b-0 m-l-10">$43,000</h5>
                <small class="text-muted m-l-10">Week of July 1st - July 5th</small>
            <div id="ct-LineChart1" class="chartist-primary">
                <div class="ct-chart"></div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <h5 class="card-header">Payouts</h5>
        <div class="card-body p-10">
            <h5 class="card-title secondary-type m-b-0 m-l-10">$19,320</h5>
            <small class="text-muted m-l-10">Week of July 1st - July 5th</small>
            <div id="ct-LineChart2" class="chartist-accent">
                <div class="ct-chart"></div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <h5 class="card-header">Total Revenue</h5>
        <div class="card-body p-10">
            <div id="total-revenue" style="height:290px"></div>
        </div>
        <div class="card-footer">
            <ul class="list-reset list-inline-block text-center">
                <li class="text-muted text-secondary m-r-10"><i class="badge badge-secondary m-r-5 badge-circle w-10 h-10"></i>Other</li>
                <li class="text-muted text-primary m-r-10"><i class="badge badge-primary m-r-5  badge-circle w-10 h-10"></i>Returning</li>
                <li class="text-muted text-info m-r-10"><i class="badge badge-info m-r-5  badge-circle w-10 h-10 "></i>New </li>
                <li class="text-muted text-accent m-r-10 "><i class="badge badge-accent m-r-5  badge-circle w-10 h-10 "></i>Referrals </li>
            </ul>
        </div>
    </div>
</div>