<section class="page-content container-fluid" id="github">
    <div class="row">
        <div class="col">
            <div class="card text-center" id="packages">
                <h5 class="card-header">GitHub</h5>
                <div class="card-body">
                    <p>저희의 프로젝트에 대해 더 궁금한 사항이 있으시면, <a href="https://github.com/kthwang/marksearch">https://github.com/kthwang/marksearch</a> 의 주소로 접속하여 문의하여 주시기 바랍니다.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-content container-fluid">
    <div class="row">
        <div class="col-md-6 col-lg-3 col-xxl-3">
            <div class="card contact-item">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="../static/assets/img/avatars/th.jpg" alt="user" class="rounded-circle max-w-100 m-t-20">
                        </div>
                        <div class="col-md-12 text-center">
                            <h5 class="card-title">김태현</h5>
                            <small class="text-muted d-block">
                                <i class="icon dripicons-mail"></i>thkim427@naver.com
                            </small>
                            <small class="text-muted d-block">
                                <i class="icon dripicons-device-mobile"></i>010-3318-4261
                            </small>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center p-0">
                    <div class="row m-0">
                        <div class="col-4 p-0">
                            <div class="contact">
                                <a target="_blank" href="mailto:thkim427@naver.com" class="d-block p-20">
                                    <i class="icon dripicons-mail"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-4 p-0">
                            <div class="contact">
                                <a href="tel:821033184261" class="d-block p-20">
                                    <i class="icon dripicons-phone"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-4 p-0">
                            <div class="contact">
                                <a target="_blank" href="https://github.com/thkim427" class="d-block p-20">
                                    <i class="la la-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
        <!-- .col -->
        <div class="col-md-6 col-lg-3 col-xxl-3">
            <div class="card contact-item">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="../static/assets/img/avatars/jc.JPG" alt="user" class="rounded-circle max-w-100 m-t-20">
                        </div>
                        <div class="col-md-12 text-center">
                            <h5 class="card-title">정종찬</h5>
                            <small class="text-muted d-block">
                                <i class="icon dripicons-mail"></i>lgsk77@naver.com
                            </small>
                            <small class="text-muted d-block">
                                <i class="icon dripicons-device-mobile"></i>010-9998-1521
                            </small>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center p-0">
                    <div class="row m-0">
                        <div class="col-4 p-0">
                            <div class="contact">
                                <a target="_blank" href="mailto:lgsk77@naver.com" class="d-block p-20">
                                    <i class="icon dripicons-mail"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-4 p-0">
                            <div class="contact">
                                <a href="tel:821099981521" class="d-block p-20">
                                    <i class="icon dripicons-phone"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-4 p-0">
                            <div class="contact">
                                <a target="_blank" href="https://github.com/lgsk77" class="d-block p-20">
                                    <i class="la la-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
        <!-- .col -->
        <div class="col-md-6 col-lg-3 col-xxl-3">
            <div class="card contact-item">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="../static/assets/img/avatars/kt.jpg" alt="user" class="rounded-circle max-w-100 m-t-20">
                        </div>
                        <div class="col-md-12 text-center">
                            <h5 class="card-title">황경태</h5>
                            <small class="text-muted d-block">
                                <i class="icon dripicons-mail"></i>pianohkt@gmail.com
                            </small>
                            <small class="text-muted d-block">
                                <i class="icon dripicons-device-mobile"></i>010-6294-0812
                            </small>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center p-0">
                    <div class="row m-0">
                        <div class="col-4 p-0">
                            <div class="contact">
                                <a target="_blank" href="mailto:pianohkt@gmail.com" class="d-block p-20">
                                    <i class="icon dripicons-mail"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-4 p-0">
                            <div class="contact">
                                <a href="tel:821062940812" class="d-block p-20">
                                    <i class="icon dripicons-phone"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-4 p-0">
                            <div class="contact">
                                <a target="_blank" href="https://github.com/kthwang" class="d-block p-20">
                                    <i class="la la-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 col-xxl-3">
            <div class="card contact-item">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="../static/assets/img/avatars/jh.JPG" alt="user" class="rounded-circle max-w-100 m-t-20">
                        </div>
                        <div class="col-md-12 text-center">
                            <h5 class="card-title">황재희</h5>
                            <small class="text-muted d-block">
                                <i class="icon dripicons-mail"></i>hjh940922@gmail.com
                            </small>
                            <small class="text-muted d-block">
                                <i class="icon dripicons-device-mobile"></i>010-6740-1115
                            </small>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center p-0">
                    <div class="row m-0">
                        <div class="col-4 p-0">
                            <div class="contact">
                                <a target="_blank" href="mailto:hjh940922@gmail.com" class="d-block p-20">
                                    <i class="icon dripicons-mail"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-4 p-0">
                            <div class="contact">
                                <a href="tel:821067401115" class="d-block p-20">
                                    <i class="icon dripicons-phone"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-4 p-0">
                            <div class="contact">
                                <a target="_blank" href="https://github.com/chiquitabanana22" class="d-block p-20">
                                    <i class="la la-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>