<section class="page-content container-fluid" id="search_image">
    <div class="row">
        <div class="col-12">
            <div class="card text-center" id="packages">
                <h5 class="card-header">이미지 검색</h5>
            </div>
            <div class="card">
     <div class="card-content">
        <img class="card-img-top img-fluid" src="../../static/assets/img/demos/31.jpg" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">이미지 번호</h4>
            <p class="card-text">이미지 설명</p>
            <a href="#" class="btn btn-primary">분석 시작</a>
        </div>
    </div>
            </div>
        </div>
    </div>
 </section>