<section class="page-content container-fluid" id="upload">
    <div class="row">
        <div class="col">
                <div class="card text-center" id="packages">
                    <h5 class="card-header">이미지 업로드</h5>
                </div>
                <div class="col-xl-12" id="matrix">
                    <div class="card" data-widget="dropzone">
                        <div class="card-body min-h-400">
                            <form action="../../static/assets/file-upload" class="dropzone" id="singleFileUpload">
                                 <div class="dz-message needsclick singleFileUpload"  >
                                 <h6 class="card-title text-center p-t-50">파일을 올려놓거나, 클릭후 업로드해주세요.</h6>
                                 <i class="icon dripicons-cloud-upload gradient-1"></i>
                                 <div class="d-block text-center">
                                  <button type="button" class="btn btn-primary btn-rounded btn-floating btn-lg">Upload</button>
                                    </div>
                                 </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>